  <div class="container px-4 py-5 mh80-custom" id="custom-cards">
    <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
      {% for codice in codici %}
        <div class="col">
          <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background: url('{{codice.code_img.url}}') no-repeat center center; background-size: cover">
            <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
              <h3 class="mt-5 mb-4 display-6 lh-1 fw-bold text-center bg-velo"> {{codice.code}} </h3>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>