{% extends 'homepage/base.html' %}

{% load static %}

<title>{% block title %}{{ block.super }} | Ricerca {% endblock title %} </title>

{% block content %}

<div class="container px-4 py-5 mh80-custom">
    <div class="flex-shrink-0 p-3" style="">
        {% if object_list %}

        <a href="#" class="d-flex align-items-center pb-3 mb-3 link-body-emphasis text-decoration-none border-bottom">
        <svg class="bi pe-none me-2" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
        <span class="fs-5 fw-semibold"> Risultati ottenuti : </span>
        </a>
        {% else %}
        
        <a href="/" class="d-flex align-items-center pb-3 mb-3 link-body-emphasis text-decoration-none border-bottom">
        <svg class="bi pe-none me-2" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
        <span class="fs-5 fw-semibold"> Nessun risultato trovato -> torna alla <strong>HOME</strong> </span>
        </a>
        {% endif %}
            
        <ul class="list-unstyled ps-0">
            {% for obj in object_list %}
            <li class="mb-1">
                <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0" data-bs-toggle="collapse" data-bs-target="#{{obj.slug_argomento}}-collapse" aria-expanded="true">
                {{obj.argomento}} ({{obj.linguaggio}})
                </button>
                <div class="collapse " id="{{obj.slug_argomento}}-collapse" style="">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li class="bg-code px-2">
                        <pre>
                            <code>
{{obj.snippet}}
                            </code>
                        </pre>
                    </li>
                </ul>
                </div>
            </li>
            {% endfor %}
            
        </ul>
    </div>
</div>

{% endblock content %}